<%- include("partials/header.ejs") %>

    <div class="box" id="heading">
        <h1>
            Work List
        </h1>
    </div>

    <div class="box">

        <% if(locals.lItems){ for(i=0; i < lItems.length ; i++) { %>

            <div class="item">
                <input type="checkbox">
                <p>
                    <%= lItems[i] %>
                </p>
            </div>
            <% } } else { console.log("asdasd");}%>

                <form class="item" action="/work" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list">+</button>
                </form>

    </div>


    <%- include("partials/footer.ejs") %>